<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smallking.dao.SysUserDAO">

    <resultMap id="sysUserDTOResultMap" type="com.smallking.dto.SysUserDTO"></resultMap>

    <sql id="findDtoSql">
        select * from (
        select temp.*,
        (select name from sys_dept sd where sd.id = temp.dept_id) as deptName
        from sys_user temp
        ) t
    </sql>

    <select id="findByAccount" resultMap="sysUserDTOResultMap">
        <include refid="findDtoSql" />
        <where>
            t.account = #{account}
        </where>
    </select>
    <select id="findPage" parameterType="com.smallking.dto.SysUserDTO" resultMap="sysUserDTOResultMap">
        <include refid="findDtoSql" />
        <where>
            t.status != '0'
            <if test="val.name != '' and val.name != null">
                and upper(t.name) like CONCAT('%',upper(#{val.name}),'%')
                or upper(t.account) like CONCAT('%',upper(#{val.name}),'%')
            </if>
            <if test="val.userStatus != '' and val.userStatus != null">
                and t.user_status = #{val.userStatus}
            </if>
            <if test="val.deptId != '' and val.deptId != null">
                and t.dept_id = #{val.deptId}
            </if>
        </where>
    </select>
    <select id="findDTOById" resultMap="sysUserDTOResultMap">
        <include refid="findDtoSql" />
        <where>
            t.id = #{id}
        </where>
    </select>
</mapper>